{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "DenyLeavingOrganization",
      "Effect": "Deny",
      "Action": "organizations:LeaveOrganization",
      "Resource": "*"
    },
    {
      "Sid": "ProtectKillSwitchFunction",
      "Effect": "Deny",
      "Action": [
        "lambda:AddPermission",
        "lambda:CreateEventSourceMapping",
        "lambda:DeleteEventSourceMapping",
        "lambda:DeleteFunction",
        "lambda:DeleteFunctionConcurrency",
        "lambda:DeleteFunctionEventInvokeConfig",
        "lambda:PutFunctionConcurrency",
        "lambda:PutFunctionEventInvokeConfig",
        "lambda:RemovePermission",
        "lambda:UpdateEventSourceMapping",
        "lambda:UpdateFunctionCode",
        "lambda:UpdateFunctionConfiguration"
      ],
      "Resource": [
        "arn:${partition}:lambda:${region}:*:function:${kill_switch_name}",
        "arn:${partition}:lambda:${region}:*:function:${kill_switch_name}:*"
      ],
      "Condition": {
        "ArnNotLike": {
          "aws:PrincipalArn": ${jsonencode(exempt_principal_arns)}
        }
      }
    },
    {
      "Sid": "ProtectKillSwitchRole",
      "Effect": "Deny",
      "Action": [
        "iam:AttachRolePolicy",
        "iam:DeleteRole",
        "iam:DeleteRolePolicy",
        "iam:DetachRolePolicy",
        "iam:PutRolePermissionsBoundary",
        "iam:PutRolePolicy",
        "iam:UpdateAssumeRolePolicy",
        "iam:UpdateRole"
      ],
      "Resource": "arn:${partition}:iam::*:role/${kill_switch_name}*",
      "Condition": {
        "ArnNotLike": {
          "aws:PrincipalArn": ${jsonencode(exempt_principal_arns)}
        }
      }
    },
    {
      "Sid": "ProtectKillSwitchSubscription",
      "Effect": "Deny",
      "Action": [
        "sns:SetSubscriptionAttributes",
        "sns:Unsubscribe"
      ],
      "Resource": "*",
      "Condition": {
        "ArnNotLike": {
          "aws:PrincipalArn": ${jsonencode(exempt_principal_arns)}
        }
      }
    }
  ]
}
